{% extends 'admin/adbase.html.twig' %}
{% block mainTitle %} Dashboard {% endblock %}
{% block localisation %}
    <section class="content-header">
      <h1>Overview</h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li>Contents</li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
{% endblock %}
{% block body %}

<div class="row" style="padding:0 10px;">
    <!-- Left col -->
    <div class="col-md-6">
        <!-- MAP & BOX PANE -->
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Visitors Report</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-md-9 col-sm-8">

                    </div>
                </div>
            </div>
                <!-- /.row -->
        </div>
            <!-- /.box-body -->
    </div>
    <div class="col-md-3">
        <!-- MAP & BOX PANE -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">OS</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <canvas id="pie-chart" width="800" height="450"></canvas>
                    </div>
                </div>
            </div>
                <!-- /.row -->
        </div>
            <!-- /.box-body -->
    </div>

    <div class="col-md-3">
        <!-- MAP & BOX PANE -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Browser</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-md-9 col-sm-8">

                    </div>
                </div>
            </div>
                <!-- /.row -->
        </div>
            <!-- /.box-body -->
    </div>
</div>

<div class="row" style="padding:0 10px;">
    <!-- Left col -->
    <div class="col-md-6">
        <!-- MAP & BOX PANE -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Map view</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-md-9 col-sm-8">

                    </div>
                </div>
            </div>
                <!-- /.row -->
        </div>
            <!-- /.box-body -->
    </div>
    <div class="col-md-3">
        <!-- MAP & BOX PANE -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">IP Addresses</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-md-9 col-sm-8">

                    </div>
                </div>
            </div>
                <!-- /.row -->
        </div>
            <!-- /.box-body -->
    </div>

    <div class="col-md-3">
        <!-- MAP & BOX PANE -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Browser</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-md-9 col-sm-8">

                    </div>
                </div>
            </div>
                <!-- /.row -->
        </div>
            <!-- /.box-body -->
    </div>
</div>

<div class="row" style="padding:0 10px;">
    <!-- Left col -->
    <div class="col-md-5">
        <!-- MAP & BOX PANE -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Last messages</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-md-9 col-sm-8">

                    </div>
                </div>
            </div>
                <!-- /.row -->
        </div>
            <!-- /.box-body -->
    </div>
    <div class="col-md-4">
        <!-- MAP & BOX PANE -->
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Quick notes</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-md-9 col-sm-8">

                    </div>
                </div>
            </div>
                <!-- /.row -->
        </div>
            <!-- /.box-body -->
    </div>

    
</div>
<script src="{{ asset('build/js/chart.min.js') }}"></script>
<script>
function getXMLHttpRequest() {
    var xhr = null; 
    if (window.XMLHttpRequest || window.ActiveXObject) {
        if (window.ActiveXObject) {
            try {
                xhr = new ActiveXObject("Msxml2.XMLHTTP");
            } catch(e) {
                xhr = new ActiveXObject("Microsoft.XMLHTTP");
            }
        } else {
            xhr = new XMLHttpRequest(); 
        }
    } else {
        alert("Votre navigateur ne supporte pas l'objet XMLHTTPRequest...");
        return null;
    }
        return xhr;
}
</script>
<script>

    var os;
    
    document.addEventListener("DOMContentLoaded", function() { 
        var xhr = getXMLHttpRequest();
        xhr.open('GET', '/os', true);
        xhr.onreadystatechange = function() {
            if (this.readyState === 4) {
                if (this.status === 200) {
                    os = xhr.responseText;
                }
            }
        }
        xhr.setRequestHeader('X-Requested-With', 'xmlhttprequest');
        xhr.send();
    });
</script>
<script>
    var jsonfile = {
       "jsonarray": [{
          "name": "Joe",
          "age": 12
       }, {
          "name": "Tom",
          "age": 14
       }]
    };

    new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["Chrome", "Firefox", "Opera", "IE", "Safari", "Others"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#00cc44", "#ffa31a","#ff5c33","#008ae6","#e6f0ff", "#e6e6e6"],
        data: [2478,5267,734,784,433, 533]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Web Browsers'
      }
    }
});
</script>
{% endblock %}