    /**
    *@Route("/getPost", name="getPost")
    */
    public function test(Request $request) {
        $post = $request->request->get('hello');
        if(isset($post)) {
            return new Response("hello");
        } else {
             return $this->render("public/test.html.twig", self::setHtmlTitle(
            "Sonny Hu | Skill", 
            ":["));
        }
    }


{% extends 'base.html.twig' %}

{% block title %}{{ htmlTitle }}{% endblock %}

{% block mainTitle %}{{ mainTitle }}{% endblock %}

{% block body %}

<form method="post" action="/getPost">
    <input type="text" name="hello">
    <input type="submit" value="Envoyer">
</form>
{% endblock %}