{% extends 'base.html.twig' %}

{% block title %}{{ htmlTitle }}{% endblock %}

{% block mainTitle %}{{ mainTitle }}{% endblock %}

{% block body %}

<form method="post" action="/getPost">
    <input type="text" name="hello">
    <input type="submit" value="Envoyer">
</form>
{% endblock %}