{% extends 'base.html.twig' %}
{% block title %} Sonny Hu | Projets {% endblock %}
{% block mainTitle %} Projets {% endblock %}


{% block body %}
 <div style="display:grid;grid-template-columns:35% 35% 35%;">
    <div>
        <div class="project">
                <div class="projectContent">
                <div class="overlay"></div>
                <img src="https://images.unsplash.com/photo-1471967183320-ee018f6e114a?ixlib=rb-0.3.5&s=e3721997587c44f4c73fc3c1e3b18db9&auto=format&fit=crop&w=1351&q=80" alt="Avatar" style="width:100%">
                <div class="projectContent-details fadeIn-bottom">
                    <a href="#"><h3 class="content-title">View</h3></a>
                </div>
            </div>
            <div class="container">
                <h4><b>Python End Ads</b></h4> 
                <p>Architect & Engineer</p> 
            </div>
        </div>
    </div>

    <div>
        <div class="project">
                <div class="projectContent">
                <div class="overlay"></div>
                <img src="https://images.unsplash.com/photo-1516031114-4e1ca7af6238?ixlib=rb-0.3.5&s=aa87a6400b9d292d71da9f1de0f531bd&auto=format&fit=crop&w=1350&q=80" alt="Avatar" style="width:100%">
                <div class="projectContent-details fadeIn-bottom">
                    <a href="#"><h3 class="content-title">View</h3></a>
                </div>
            </div>
            <div class="container">
                <h4><b>Python End Ads</b></h4> 
                <p>Architect & Engineer</p> 
            </div>
        </div>
    </div>

    <div>
        <div class="project">
                <div class="projectContent">
                <div class="overlay"></div>
                <img src="https://images.unsplash.com/photo-1483919283443-8db97e2bcd81?ixlib=rb-0.3.5&s=576b50223d79f93450ee9658b142fe52&auto=format&fit=crop&w=1350&q=80" alt="Avatar" style="width:100%">
                <div class="projectContent-details fadeIn-bottom">
                    <a href="#"><h3 class="content-title">View</h3></a>
                </div>
            </div>
            <div class="container">
                <h4><b>Python End Ads</b></h4> 
                <p>Architect & Engineer</p> 
            </div>
        </div>
    </div>

</div>
<!--
<div class="row">
    <div class="col-sm-6">
        <div class="classWithPad">
            <article>
                <h2>DBEditor</h2>

                <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
            </article>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="classWithPad">
            <article>
                <h2>HashMe</h2>
                <p>Date: 2016</p>
                <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
            </article>
        </div>
    </div>

</div>-->
{% endblock %}