{% extends 'base.html.twig' %}
{% block title %} Sonny Hu | Projets {% endblock %}
{% block mainTitle %} Projets {% endblock %}


{% block body %}
 <div class="row">
    <div class="col-sm-6">
        <div class="classWithPad">
            <article>
                <h2>Ce portfolio</h2>
                <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
            </article>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="classWithPad">
            <article>
                <h2>Python End Ads</h2>

                <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fundw twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
            </article>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-6">
        <div class="classWithPad">
            <article>
                <h2>DBEditor</h2>

                <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
            </article>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="classWithPad">
            <article>
                <h2>HashMe</h2>
                <p>Date: 2016</p>
                <p>Tacos actually microdosing, pour-over semiotics banjo chicharrones retro fanny pack portland everyday carry vinyl typewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health goth gastropub hammock.</p>
            </article>
        </div>
    </div>

</div>
{% endblock %}