{% extends 'base.html.twig' %}

{% block title %} Sonny Hu | Page introuvable {% endblock %}

{% block mainTitle %}Page introuvable{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 centered">
            <center>
            <div class="error-template">
                <h2>Oops! :[</h2>
                <div class="error-details">
                    <p style="font-size:16px;color:black;">Page introuvable ou bien temporairement indisponible.</p>
                </div>
                <br>
            </div>
            </center>
        </div>
</div>
</div>
{% endblock %}