<h3>Message envoyé!</h3>

Votre message a bien été envoyé.
<br/>
{# example, assuming you have a route named "login" #}
Ceci est un message automatique, veuillez ne pas répondre directement à ce message. 
<br/>
Merci!